<header class="main-header">
  <div class="logo">
    <a href="index.html"><img src="/src/assets/images/PRUEBA.png" alt="Logo de la tienda" class="logo-image"></a>
  </div>
  <nav class="top-nav">
    <ul class="menu">
      <li class="menu-item">
        <a href="#" class="menu-link">Boxers de Hombre</a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">Brasier</a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">Conjuntos</a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">Tríos de Calzones</a>
      </li>
    </ul>
  </nav>
  <div class="user-actions">
    <div class="search-bar">
      <i class="fa-solid fa-magnifying-glass fa-lg search-bar-icon" (click)="toggleSearchBar()"></i>
      <form id="search-form" class="hide-bar">
        <input type="text" class="search-bar-input" placeholder="Buscar productos">
        <button class="search-bar-btn">Buscar</button>
      </form>
    </div>
    <div class="cart">
      <a (click)="toggleCart()"><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
      <div class="cart-container">
        
        <ul>
          <li *ngFor="let product of cartService.cart">
            {{ product.name }} - Precio: ${{ product.price }}
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</header>
