<div class="footer">
    <div class="contact">
      <a href="#"><i class="fa-brands fa-whatsapp fa-lg" style="color: #1cca27;"></i></a>
      <a href="#"><i class="fa-light fa-envelope fa-lg" style="color: #ffffff;"></i></a>
    </div>
    <div class="social-media">
      <a href="https://www.twitter.com"><i class="fa-brands fa-x-twitter fa-lg" style="color: #ffffff;"></i></a>
      <a href="https://www.facebook.com"><i class="fa-brands fa-facebook fa-lg" style="color: #216ef2;"></i></a>
      <a href="https://www.instagram.com"><i class="fa-brands fa-instagram fa-lg" style="color: #ffffff;"></i></a>
    </div>
  </div>
  