<main>
    <!-- Contenido principal de la tienda, productos y secciones -->
    <section class="container" id="productos-nuevos">
        <h1 class="main-title">Productos Nuevos</h1>
        <div class="grid-layout">
            <!-- Los productos nuevos se mostrarán aquí -->

            <div class="product" id="product-1">
                <img src="/src/assets/images/foto_no_exif (2).jpg" alt="Producto 1" class="product-image">
                <h2 class="product-title">Lebron loco</h2>
                <p class="product-description">Descripción del producto 1.</p>
                <p class="product-price">Precio: $19.99</p>

                <div>
                    <label for="size-1">Talla:</label>
                    <select id="size-1">
                        <option value="Selecciona una talla"></option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>

                <p id="available-quantity-1">Cantidad Disponible: 10</p>

                <button class="add-to-cart-btn" onclick="addToCart(1)">Agregar al Carrito</button>
            </div>

            <div class="product" id="product-2">
                <img src="/src/assets/images/foto_no_exif.jpg" alt="Producto 2" class="product-image">
                <h2 class="product-title">Lebron juicioso</h2>
                <p class="product-description">Descripción del producto 2.</p>
                <p class="product-price">Precio: $29.99</p>

                <div>
                    <label for="size-2">Talla:</label>
                    <select id="size-2">
                        <option value="Selecciona una talla"></option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>

                <p id="available-quantity-2">Cantidad Disponible: </p>

                <button class="add-to-cart-btn" onclick="addToCart(2)">Agregar al Carrito</button>
            </div>
            <div class="product" id="product-1">
                <img src="./img/foto_no_exif (2).jpg" alt="Producto 1" class="product-image">
                <h2 class="product-title">Lebron loco</h2>
                <p class="product-description">Descripción del producto 1.</p>
                <p class="product-price">Precio: $19.99</p>

                <div>
                    <label for="size-1">Talla:</label>
                    <select id="size-1">
                        <option value="Selecciona una talla"></option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>

                <p id="available-quantity-1">Cantidad Disponible: 10</p>

                <button class="add-to-cart-btn" onclick="addToCart(1)">Agregar al Carrito</button>
            </div>

            <div class="product" id="product-2">
                <img src="./img/foto_no_exif.jpg" alt="Producto 2" class="product-image">
                <h2 class="product-title">Lebron juicioso</h2>
                <p class="product-description">Descripción del producto 2.</p>
                <p class="product-price">Precio: $29.99</p>

                <div>
                    <label for="size-2">Talla:</label>
                    <select id="size-2">
                        <option value="Selecciona una talla"></option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>

                <p id="available-quantity-2">Cantidad Disponible: </p>

                <button class="add-to-cart-btn" onclick="addToCart(2)">Agregar al Carrito</button>
            </div>
            <div class="product" id="product-1">
                <img src="./img/foto_no_exif (2).jpg" alt="Producto 1" class="product-image">
                <h2 class="product-title">Lebron loco</h2>
                <p class="product-description">Descripción del producto 1.</p>
                <p class="product-price">Precio: $19.99</p>

                <div>
                    <label for="size-1">Talla:</label>
                    <select id="size-1">
                        <option value="Selecciona una talla"></option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>

                <p id="available-quantity-1">Cantidad Disponible: 10</p>

                <button class="add-to-cart-btn" onclick="addToCart(1)">Agregar al Carrito</button>
            </div>

            <div class="product" id="product-2">
                <img src="./img/foto_no_exif.jpg" alt="Producto 2" class="product-image">
                <h2 class="product-title">Lebron juicioso</h2>
                <p class="product-description">Descripción del producto 2.</p>
                <p class="product-price">Precio: $29.99</p>

                <div>
                    <label for="size-2">Talla:</label>
                    <select id="size-2">
                        <option value="Selecciona una talla"></option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>

                <p id="available-quantity-2">Cantidad Disponible: </p>

                <button class="add-to-cart-btn" onclick="addToCart(2)">Agregar al Carrito</button>
            </div>
            <div class="product" id="product-1">
                <img src="./img/foto_no_exif (2).jpg" alt="Producto 1" class="product-image">
                <h2 class="product-title">Lebron loco</h2>
                <p class="product-description">Descripción del producto 1.</p>
                <p class="product-price">Precio: $19.99</p>

                <div>
                    <label for="size-1">Talla:</label>
                    <select id="size-1">
                        <option value="Selecciona una talla"></option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>

                <p id="available-quantity-1">Cantidad Disponible: 10</p>

                <button class="add-to-cart-btn" onclick="addToCart(1)">Agregar al Carrito</button>
            </div>

            <div class="product" id="product-2">
                <img src="./img/foto_no_exif.jpg" alt="Producto 2" class="product-image">
                <h2 class="product-title">Lebron juicioso</h2>
                <p class="product-description">Descripción del producto 2.</p>
                <p class="product-price">Precio: $29.99</p>

                <div>
                    <label for="size-2">Talla:</label>
                    <select id="size-2">
                        <option value="Selecciona una talla"></option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>

                <p id="available-quantity-2">Cantidad Disponible: </p>

                <button class="add-to-cart-btn" onclick="addToCart(2)">Agregar al Carrito</button>
            </div>
            <div class="product" id="product-1">
                <img src="./img/foto_no_exif (2).jpg" alt="Producto 1" class="product-image">
                <h2 class="product-title">Lebron loco</h2>
                <p class="product-description">Descripción del producto 1.</p>
                <p class="product-price">Precio: $19.99</p>

                <div>
                    <label for="size-1">Talla:</label>
                    <select id="size-1">
                        <option value="Selecciona una talla"></option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>

                <p id="available-quantity-1">Cantidad Disponible: 10</p>

                <button class="add-to-cart-btn" onclick="addToCart(1)">Agregar al Carrito</button>
            </div>

            <div class="product" id="product-2">
                <img src="./img/foto_no_exif.jpg" alt="Producto 2" class="product-image">
                <h2 class="product-title">Lebron juicioso</h2>
                <p class="product-description">Descripción del producto 2.</p>
                <p class="product-price">Precio: $29.99</p>

                <div>
                    <label for="size-2">Talla:</label>
                    <select id="size-2">
                        <option value="Selecciona una talla"></option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>

                <p id="available-quantity-2">Cantidad Disponible: </p>

                <button class="add-to-cart-btn" onclick="addToCart(2)">Agregar al Carrito</button>
            </div>
            <div class="product" id="product-1">
                <img src="./img/foto_no_exif (2).jpg" alt="Producto 1" class="product-image">
                <h2 class="product-title">Lebron loco</h2>
                <p class="product-description">Descripción del producto 1.</p>
                <p class="product-price">Precio: $19.99</p>

                <div>
                    <label for="size-1">Talla:</label>
                    <select id="size-1">
                        <option value="Selecciona una talla"></option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>

                <p id="available-quantity-1">Cantidad Disponible: 10</p>

                <button class="add-to-cart-btn" onclick="addToCart(1)">Agregar al Carrito</button>
            </div>

            <div class="product" id="product-2">
                <img src="./img/foto_no_exif.jpg" alt="Producto 2" class="product-image">
                <h2 class="product-title">Lebron juicioso</h2>
                <p class="product-description">Descripción del producto 2.</p>
                <p class="product-price">Precio: $29.99</p>

                <div>
                    <label for="size-2">Talla:</label>
                    <select id="size-2">
                        <option value="Selecciona una talla"></option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>

                <p id="available-quantity-2">Cantidad Disponible: </p>

                <button class="add-to-cart-btn" onclick="addToCart(2)">Agregar al Carrito</button>
            </div>
        </div>
    </section>
</main>
